table {
    margin: 10px;
    border-collapse: collapse;
}

table,td.board {
    border: 1px solid black;
}
 
td {
    height: 65px;
    width: 65px;
}

body {
    padding: 0px; 
    margin: 0px;
    background-color: blanchedalmond;
}

nav {
    background-color: darkred;
    color: #FAF0E6;
    height: 100px;
}

#navleft {
    float: left;
    padding-left: 30px;
    font-size: 30px; 
    color: white; 
}

.turnCnt {
    padding-left: "15px";
    padding-right: "115px";
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content {
    padding: 40px; 
}

.topdiv {
    float: right;
    padding-right: 1cm;
    padding-top: 35px; 
}

.topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
}
  
.topmenu:hover {
    color: white;
    font-weight: bolder; 
    text-decoration: underline;
}

.funcBtn {
    height: 50px;
    font-size: 20px;
    float: left; 
}

#movesRecords {
    border: none;
}

#movesRecords tbody {
    font-size: medium;
    text-align: center;
}

#movesRecords tbody tr td {
    height: 30px;
}
 
div.pieces {
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;

    text-align: center;
    font-family: Cursive;
    font-size: 2.0em;
    background-color: #FAF0E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.pieces:hover {
    cursor: pointer;
}

div.red {
    color: red; 
}

div.black {
    color: black; 
}